/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: #9ca3af !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow {
  transition: all 0.3s ease;
  font-size: 0.7rem !important;
  color: white !important;
  width: 1.1rem !important;
  height: 1.1rem !important;
  min-width: 1.1rem !important;
  line-height: 1.1rem !important;
  background-color: #1f2937;
}

button.rec-dot {
  display: none;
}

.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: #fb923c !important;
  box-shadow: 0 0 1px 3px #1f2937 !important;
}
